html,
body {
    margin: 0px;
    width: 100%;
}
main {
    background-color: white;
}

@media only screen and (min-width: 600px) {
    html {
        font-size: 18px;
    }
}
@media only screen and (min-width: 768px) {
    html {
        font-size: 20px;
    }
}

/*****************************
 Link style
*****************************/
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}
ul {
    list-style: none;
    list-style-position: inside;
    padding-left: 0px;
}


/*****************************
 Header
*****************************/
header {
    background-color: #4499ff;
    padding:15px;
}

header nav ul li {
    margin-right: 8px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 4px 0px #333;
    width: 33.33% - 8px;
    float: left;

}
header nav ul li a {
    padding: 6px;;
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: darkblue;
}
header h1 {
    background-color: #090966;
    display: inline-block;
    padding: 10px;
    color: #5bf;
    text-shadow: 2px 2px 4px #000;
    border-radius: 5px;
    box-shadow: 3px 3px 8px 0px #222;
    font-size: 2rem;
}

/**********************
 Positioning linkboxes
***********************/

main {
    padding: 30px;
}

.linkbox {
    width: 50%;
    float:left;
    display: block;
    padding: 0px 10px 0px 10px;
    margin: 0px;
}
/*[class*="column-"] {
    float: left;
    width: 50%
}*/

@media only screen and (min-width: 600px) {
    .linkbox {
        width: 33.33%;
    }
    [class*="column-"] {
        /*width: 33.33%;*/
    }
}

@media only screen and (min-width: 768px) {
    .linkbox {
        width: 25%;
    }
    [class*="column-"] {
        /*width: 24%;*/
    }
}

.wrapper {
    margin-bottom: 60px;
}



/**********************
 Styling linkboxes
***********************/
.linkbox h2 {
    background-color: #191944;
    border-radius: 5px;
    padding: 6px 2px;
    box-shadow: 0px 3px 4px -1px #111;
    color: #efefef;
    text-shadow: 2px 2px 4px #222;
    margin-bottom: 0px;
    border: solid #333 1px;
    font-size: 1.1rem;
    text-align: center;
}

.linkbox ul {
    border: solid #333 1px;
    padding-top: 20px;
    margin-top: -3px;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    padding: 8px;
    font-size: 0.85rem
}

/**********************
 Styling Footer
***********************/

footer {
    background-color: #4499ff;
    padding: 30px;
    height: 100px;
    display: block;
    bottom: 0px;
}
